// Mixins

/* 1.2. Useful mixins */
@mixin link-style-tachado($top: 26%) {
	position: relative;
	z-index: 0;
	&::after {
		position: absolute;
		left: 0;
		top: $top;
		width: 95%;
		height: 100%;
		margin: 0;
		padding: 0;
		z-index: 1;
		content: "";
		border-top: 1px solid black;
	}
}