// // Variables
// //
// // Variables should follow the `$component-state-property-size` formula for
// // consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// // Color system
$black:   #000000;
$white:   #FFFFFF;

// Layout
// CANVIEU AQUESTS 3 VALORS PER CONTROLAR L'AMPLE MAX. PER PANTALLES GRANS
$layout-max-width: 1800px;
// EL 'PADDING' LATERAL PER A TABLETS
$layout-gutter-md:  2.5rem; // 40px
$layout-gutter-big: 5rem; // 80px

// Font-sizes
$letter-spacing-1: 0.125rem; // 3.2px

// Default size
$font-size-default:   			0.875rem; 	// 12px
$line-height-default: 			1.5rem;			// 24px
$letter-spacing-default:  	0;

// Default xs font sizes
$font-size-default-xs:   			0.75rem; 	// 12px
$line-height-default-xs: 			1.25rem;	// 20px
$letter-spacing-default-xs:  	0;

// Default md font sizes
$font-size-default-md:   		1rem; 		// 16px 
$line-height-default-md: 		1.625rem; // 26px

// Default xl font sizes
$font-size-default-xl:   		1.5rem; 	// 24px
$line-height-default-xl: 		2.25rem;	// 36px

// Navigation font sizes
$font-size-nav-links:   		0.75rem;	// 12px
$line-height-nav-links: 		1.25rem;	// 20px
$letter-spacing-nav-links:  0.175rem;	// 200k

// Navigation xl font sizes
$font-size-nav-links-xl:   	1rem;			// 16px
$line-height-nav-links-xl: 	1.625rem;	// 26px

// ------
/* Bootstrap custom styles */

// @see: https://getbootstrap.com/docs/4.3/getting-started/theming/#variable-defaults
$enable-rounded: false;
$enable-shadows: false;

$grid-gutter-width: 20px;

// Container padding
$container-padding-x: $grid-gutter-width / 2 ;
