<article id="homepage" class="container-fluid" >
	<header class="row article article-type-<%= page.layout %>">
		<div class="col-12 col-lg-9 ">
			<% if (theme.description){ %>
				<%- markdown(theme.description) %>
			<% } %>
		</div>
	</header>
</article>
