<section id="homepage" class="container-fluid mt-1 mt-lg-2" >
	<header class="row <%= page.layout %>">
		<div class="col-12 ">
			<% if (theme.description){ %>
				<%- markdown(theme.description) %>
			<% } %>
		</div>
	</header>
	<div class="posts row">
		<div class="col-12">
			<div class="row">
	      <% page.posts.each(function(post, i) { %>
		      <%- partial('_partial/post_preview.ejs', { post: post, index: i }) %>					
	      <% }) %>							
			</div>
		</div>
	</div>
</section>
