# custom
sandbox
credentials.txt

themes/sorry
themes/landscape


# asset pipeline
/node_modules

# Static site generation
db.json
*.log
public/
.deploy*/

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.cache
.DS_Store
.idea
.project
.settings
.tmproj
*.esproj
nbproject
Thumbs.db



