
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%- js('assets/vendor/jquery.slim.min') %>
    <%- js('assets/vendor/popper.js/popper.min') %>
    <%- js('assets/vendor/bs4/js/bootstrap.min') %>
    <!-- Custom javascript -->
    <%- js('assets/js/app') %>
  </body>
</html>