@charset "utf-8";

@import "utilities/fonts";
/* Configuration and helpers */
// @import "utilities/variables";
// @import "utilities/functions";
// @import "utilities/mixins";

@import "base/typography";

/**
 * G E N E R A L
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

