// // Variables
// //
// // Variables should follow the `$component-state-property-size` formula for
// // consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// // Color system
$black:   #000000;
$white:   #FFFFFF;

// Layout
$layout-max-width: 1829px;

// Font-sizes
$letter-spacing-1: 0.2rem;

// Default little size
$font-size-default-xs:   			0.75rem; 	// 12px
$line-height-default-xs: 			1.25rem;	// 20px
$letter-spacing-default-xs:  	0;

// Default little size
$font-size-default:   			0.875rem; 	// 12px
$line-height-default: 			1.5rem;			// 24px
$letter-spacing-default:  	0;


// Default font size style
$font-size-default-md:   		1rem; 		// 16px 
$line-height-default-md: 		1.625rem; // 26px

// Desktop font size style
$font-size-default-xl:   		1.5rem; 	// 24px
$line-height-default-xl: 		2.25rem;	// 36px

// Default font size for nav
$font-size-nav-links:   		0.75rem;	// 12px
$line-height-nav-links: 		1.25rem;	// 20px
$letter-spacing-nav-links:  0.175rem;	// 200k

// Desktop font size for nav
$font-size-nav-links-xl:   	1rem;			// 12px
$line-height-nav-links-xl: 	1.625rem;	// 20px
