// // Variables
// //
// // Variables should follow the `$component-state-property-size` formula for
// // consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// // Color system
$black:   #000000;
$white:   #FFFFFF;

// Font-sizes
$font-size-default:   		0.75rem; 	// 12px
$line-height-default: 		1.25rem;	// 20px
$letter-spacing-default:  0;

$font-size-nav-links:   		0.75rem;	// 12px
$line-height-nav-links: 		1.25rem;	// 20px
$letter-spacing-nav-links:  0.175rem;	// 200k

$font-size-nav-links-xl:   		1rem;	// 12px
$line-height-nav-links-xl: 		1.625rem;	// 20px
