
header {}

#main {}

// Main NAVIGATION for all pages
.navbar {
	// Align logo & menu elements to the top
	.navbar-brand {
		padding: 0 !important;
	}
	// Align logo & menu elements to the top
	.nav-link {
		padding-top: 0 !important; 
		line-height: 1;
	}	
	.navbar-nav {
		// Links on the main navigation
		li.nav-item {
			// Theme links
			text-align: center;
			a.nav-link {
				// Font style
				@include meh-style-bold();
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 0.175rem;
				color: $black;
				text-transform: uppercase;
				&:hover {
					@include link-style-tachado();
				}
			}
			// Theme active link (current page)
			&.active {
				a.nav-link {
					@include link-style-tachado();
					&:hover {

					}
				}
			}
		}		
	}
}


// Footer for all pages
footer {	
	// Set bg color
	background-color: $white;
	// Footer to separator
	hr {
		border-color: $black;
		box-shadow: 0 0 1px $black;
	}
	// The text-lines on the address are treated as line blocks, 100% wiodth
	.info {
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		span {
			display: block;
		}
	}
	// The © info is hidden 
	.copy {
		display: none;
	}
	// The social links theming	
	.links {
		li {
			a {
				text-transform: uppercase;
				text-decoration: none;
				@include meh-style-bold();
				letter-spacing: 0.125rem;
				&:hover {
					@include link-style-tachado();
				}
			}
		}
	}
}