// 2. LAYOUTS
header {}

// 2.0. CONTENT
// Hybrid layout
// Set a max-width of 1440px to the fluid model, so on bigger screens 
// the container will be fixed
.container-fluid {
	max-width: $layout-max-width;
}



// 2.1. MAIN NAVIGATION for all pages
.navbar {
	background: #fff;

	min-height: 146px;

	// Align logo & menu elements to the top
	.navbar-brand {
		padding: 0 !important;
	}
	// Align logo & menu elements to the top
	.nav-link {
		padding-top: 0 !important; 
		padding-left: 0 !important;
		padding-right: 0 !important;
		line-height: 1;
	}	
	.navbar-nav {
		// Links on the main navigation
		li.nav-item {
			padding-left: 1rem;
			// Theme links
			a.nav-link {
				color: $black;
				// Font style
				@include meh-style-bold();
				text-transform: uppercase;
				text-decoration: none;
				// Font sizes
				font-size: $font-size-nav-links;							
				line-height: $line-height-nav-links;
				line-height: 1; 					
				letter-spacing: $letter-spacing-nav-links; 		
				// Large devices (desktops, 992px and up)
				@include media-breakpoint-up(md) { 
					font-size: $font-size-nav-links-xl;							
					line-height: $line-height-nav-links-xl; 					
					line-height: 1; 					
				}
				&:hover {
					@include link-style-tachado();
				}
			}
			// Theme active link (current page)
			&.active {
				a.nav-link {
					@include link-style-tachado();
					&:hover {
					}
				}
			}
		}		
	}
}

main#content {
	margin-top: 146px;
}

// 2.2. FOOTER for all pages
footer {	
	// Set bg color
	background-color: $white;

  // Separate footer from the main content as on PDF
	margin-top: 120px;
	@include media-breakpoint-up(lg) {
		margin-top: 60px;

	}

	// Footer separator, remove bs4 defaults
	hr {
		box-shadow: none;
		background-color: $black;
		opacity: 1;
	}
	// The text-lines on the address are treated as line blocks, 100% width
	.info {
		font-size:   $font-size-default-md;
		line-height: $line-height-default-md;

		// Set font styles and sizes
		@include media-breakpoint-down(md) {
			font-size: $font-size-default-xs;
			line-height: $line-height-default-xs;	
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		span {
			display: block;
		}
	}
	// The © info is hidden 
	.copy {
		display: none;
	}
	// The social links theming	
	.links {
		li {
			padding-left: 1rem;
			a {
				text-transform: uppercase;
				text-decoration: none;
				@include meh-style-bold();
				// font-sizes
				font-size: $font-size-nav-links;							
				line-height: $line-height-nav-links; 					
				letter-spacing: $letter-spacing-nav-links; 		
				// Large devices (desktops, 992px and up)
				@include media-breakpoint-up(md) { 
					font-size: $font-size-nav-links-xl;							
					line-height: $line-height-nav-links-xl; 					
				}
				&:hover {
					@include link-style-tachado();
				}
			}
		}
	}
}

