
header {}

#main {}

// Footer for all pages
footer {	
	// Set bg color
	background-color: $white;
	// Footer to separator
	hr {
		border-color: $black;
		box-shadow: 0 0 1px $black;
	}
	// The text-lines on the address are treated as line blocks, 100% wiodth
	.info {
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		span {
			display: block;
		}
	}
	// The © info is hidden 
	.copy {
		display: none;
	}
	// The social links theming	
	.links {
		li {
			a {
				text-transform: uppercase;
				text-decoration: none;
				@include meh-style-bold();
				letter-spacing: 0.125rem;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}