/***
 * Styles for POSTS
 ***/

.posts {
  // Separate work grid
	margin-top: 1.875rem; // 30px
	@include media-breakpoint-up(lg) {
		margin-top: 3.75rem; // 60px
	}
}

// Preview styles
.post-preview {
	position: relative;
	margin-bottom: 1.875rem; // 30px
	@include media-breakpoint-up(lg) { 
		margin-bottom: 2.5rem; // 40px
	}
	transform: matrix(1, 0, 0, 1, 0, 0);
	// Wrapper de cada projecte, per a una millor UX en els rollovers
	.post-preview-wrapper {
		// Hover/Rollover styles
		&:hover {
			// Caixa amb la imatge o video
			.post-preview-media {
				background-color: $black;
				img, video {
					opacity: 0;
				}
			}
			// Caixa amb els metas del projecte
			// Es mostra al 100% d'alçada
			.post-preview-info {
				transition-delay: 0.3s;
				opacity: 1;
				height: 100%;
			}			
			// Metas del projecte
			h2.post-preview-title, 
			h3.post-preview-subtitle, 
			.post-preview-tags {
			}
		}	
		// Normal styles
		// Caixa amb la imatge o video
		.post-preview-media {
			z-index: 2;
			transform-origin: center;
			// Img & Video showed by default so it hides the METAS that are under
			img, video  {
				width: 100%;
				height: 100%;
				transform: matrix(1, 0, 0, 1, 0, 0);

				moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
				-o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
				-webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
				transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);		
			}
		}
		// Caixa amb els metas del projecte
		// S'oculta amb 0% d'alçada
		.post-preview-info {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: right;

			padding: 0;
			margin: 0;

			overflow: hidden;
			height: 0;
			opacity: 1;
			z-index: 3;
			@include media-breakpoint-down(md) { 
				top: 2rem;
			}
		}
		// Meta: titol
		h2.post-preview-title {
			// display: none; 
			text-transform: none;
			padding-right: 4rem;
			font-size: 1.5rem; 	// 24px/16
			line-height: 1.875rem; 	// 30px/16
			margin-bottom: 0;
			margin-top: 3rem;
			@include media-breakpoint-down(md) { 
				padding-right: 2.5rem;
				font-size: 1.125rem; 		// 18px/16
				line-height: 1.875rem;  // 30px/16
			}
			a {
				color: $white;
				text-decoration: none;
			}
		}
		// Meta: subtitol
		h3.post-preview-subtitle {
			// display: none; 
			color: $white;
			text-transform: none;
			padding-right: 4rem;		
			font-size: 1.125rem; 	// 18px/16
			line-height: 1.875rem; 	// 30px/16
			margin-bottom: 0;
			@include media-breakpoint-down(md) { 
				padding-right: 2.5rem;
				font-size: 1.125rem; 		// 18px/16
				line-height: 1.875rem;  // 30px/16
			}
		}
		// Meta: tags
		.post-preview-tags {
			// display: none; 
			padding-right: 4rem;	
			margin-top: 1.125rem;	
			@include media-breakpoint-down(md) { 
				margin-top: 1rem;	
				padding-right: 2.5rem;
			}
			span {
				color: $white;
				@include meh-style-regular();
				text-transform: uppercase;
				font-size: $font-size-default-xs;
				line-height: $line-height-default-xs;
				letter-spacing: $letter-spacing-nav-links;
			}
		}

	
	}

	// &.in-viewport-full {
	// 	@include media-breakpoint-down(md) { 
	// 		h2.post-preview-title,
	// 		h3.post-preview-subtitle,
	// 		.post-preview-cats {
	// 			display: block;
	// 		}			
	// 	}
	// }
}


// Full page
section#post {
 	// Header
 	header {
 		position: relative;
 		img {
 			width: 100%;
 		}
 		iframe {
 			display: none;
 			position: absolute;
			top: -1.25rem;
			left: 0;
			margin: 0;
			padding: 0rem 1em;
			width: 100%;
			height: 100%;
			z-index: 100;
 		}
 		.intro {
 			@include media-breakpoint-up(lg) { 
	 			position: absolute;
	 			top: 2rem;
	 			left: 0;
	 			width: 100%
 			}
 		}

 		// Project Title
 		h1, h1 a {
 			font-size: 1.3125rem; // 21px/16
 			line-height: 1.5rem;	// 24px
			text-decoration: none;
			text-transform: none;
 			@include media-breakpoint-up(lg) { 
				color: $white;
				font-size: 2.25rem; // 36px
				line-height: 3rem;  // 48px
				margin-bottom: .25rem;
			}
		}
		// Project Subtitle
	 	h2.post-preview-subtitle  {
	 		margin-bottom: 1rem;
	 		text-transform: none;
	 		letter-spacing: $letter-spacing-1;
	 		font-size: 0.875rem; // 14px 
	 		line-height: 1.5rem; // 24px
	 		margin-bottom: .75rem;
			@include media-breakpoint-up(lg) { 
				color: $white;
		 		font-size: 1.5rem; // 24px 
		 		line-height: 1.875rem; // 30px
		 		margin-bottom: 2.5rem;
			}
	 	}		
 		// Project headline
		p {
			@include meh-style-regular();
			font-size: 0.875rem; 	// 14px/16
			line-height: 1.5rem;  // 24px/16

 			@include media-breakpoint-up(lg) { 
				color: $white;
				font-size: 1.125rem; 		// 18px/16
				line-height: 1.875rem;  // 30px/16
				margin-bottom: 2.5rem;
			}
		}
 	}
 	// Body
 	h2, .h2 {
 		margin-bottom: 1rem;
 		text-transform: uppercase;
 		letter-spacing: $letter-spacing-1;
 		font-size: $font-size-default-xs;
 		line-height: $line-height-default-xs;
		@include media-breakpoint-up(lg) { 
			font-size: $font-size-default-md;
			line-height: $line-height-default-md;
		}
 	}
 	h3, .h3 { 
 		margin-bottom: 1rem;
 		text-transform: uppercase;
 		letter-spacing: $letter-spacing-1;
 		font-size: $font-size-default-xs;
 		line-height: $line-height-default-xs;
		@include media-breakpoint-up(lg) { 
			font-size: $font-size-default-md;
			line-height: $line-height-default-md;
		}
 	}


 	ul {
	  padding-left: 0;
	  list-style: none;
 	}

 	p, li {
 		@include meh-style-regular();
		font-size: 0.875rem; 	// 14px/16
		line-height: 1.5rem;  // 24px/16

		@include media-breakpoint-up(lg) { 
			font-size: 1.125rem; 		// 18px/16
			line-height: 1.875rem;  // 30px/16
		}
 	}

 	.content {
	  // Separate from .post header as on PDF
		margin-top: 3.75rem; // 60px
		@include media-breakpoint-up(lg) {
			margin-top: 7.5rem; //120px
		}
 		// p {
 		// 	@include media-breakpoint-up(lg) { 
	 	// 		width: 75%;
 		// 	}
 		// }

 		.gallery {
			@include media-breakpoint-up(sm) {
	 			@include make-row();
	 		}
 			p {
 				display: inherit;
 				width: 100%;
 				margin-bottom: 0;
 			}
 		}

 		img[title=x1] {
 			margin-bottom: 1.5rem;
 			width: 100%;
			@include media-breakpoint-up(sm) {
	 			@include make-col-ready();
	 			@include make-col(12);
	 		}
	 		@include media-breakpoint-down(sm) {
	 			width: 100%;
	 		}
 		}
 		img[title=x2] {
 			margin-bottom: 1.5rem;
 			width: 100%;
			@include media-breakpoint-up(sm) {
	 			@include make-col-ready();
	 			@include make-col(6);
	 		}
 		}
 		img[title=x3] {
 			margin-bottom: 1.5rem;
 			width: 100%;
			@include media-breakpoint-up(sm) {
	 			@include make-col-ready();
	 			@include make-col(4);
	 		}
 		}
 	}
}

.gallery {
	margin-top: 1rem;
}