// Colors

// Colors for layout
body {
	background-color: $white;
	color: $black;
}

#header {}

#main {}

#footer {}

// Colors for links
a {
	color: $black;
	text-decoration: underline;
	&:link {
		color: $black;
		text-decoration: underline;
	}
	&:visited {
		color: $black;
		text-decoration: none;
	}
	&:hover {
		color: $black;
		text-decoration: none;
	}
	&:active {
		color: $black;
		text-decoration: underline;
	}
}

a.btn {
	@include meh-style-semibold();
	text-transform: uppercase;
	text-decoration: none;			
	letter-spacing: 0.2rem;


	border-width: 2px;
	padding: .825rem 3.25rem .825rem;
	font-size: 1rem;
	line-height: 1.625rem;
	border-radius: 0;
}