/* 1.2. Font Styles */

body {
  text-size-adjust: 100%;
	@include meh-style-defaults();
	@include meh-style-regular();
}

// Defaults for headlines
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	@include meh-style-bold();
}
// Defaults for paragraphs and lists
p, li {
	@include meh-style-light();
	font-size: $font-size-default;
	line-height: $line-height-default;
}
b, strong {
	@include meh-style-semibold();
}


// Size & line-height: 24px/36px
// On all pages
#page,
// And on the homepage header
#homepage header {
	p, li {
		font-size: $font-size-default-xl;
		line-height: $line-height-default-xl;
	}
}
// Lead property
p.lead {
	font-size: $font-size-default-xl;
	margin-bottom: $line-height-default-xl;
}

// // Large devices (desktops, 992px and up)
// // @include media-breakpoint-up(lg) { ... }
// @media (min-width: 992px) { 
// }