
// 2.1. MAIN NAVIGATION for all pages

main#content {
	margin-top: 4.375rem; //70px/16
	@include media-breakpoint-up(md) { 
		margin-top: 7.125rem; // 116px/16 : Important to set the same value for .xxx
	}
	@include media-breakpoint-up(lg) { 
		margin-top: 8.25rem; // 140px/16 Important to set the same value for .xxx
	}
	@include media-breakpoint-up(xl) { 
		margin-top: 8.75rem; // 140px/16 Important to set the same value for .xxx
	}
}

.navbar {
	background: $white;
	// This values depend directly on the height of the logos for each breakpoint
	// No caldrà expressar-los en REM un cop estiguin definits (...?)
	padding-top: 1.25rem; // 20px/16;
	padding-bottom: 1.25rem; // 20px/16;
	min-height: 4.375rem; //70px/16  Important to set the same value for main#content->margin-top
	@include media-breakpoint-up(md) { 
		min-height: 7.125rem; // 116px/16 Important to set the same value for main#content->margin-top
	}
	@include media-breakpoint-up(lg) { 
		padding-top: 2.5rem; 		// 40px/16;
		padding-bottom: 2.5rem; // 40px/16;
		min-height: 8.25rem; 	// 140px/16 Important to set the same value for main#content->margin-top
	}

	@include media-breakpoint-up(xl) { 
		padding-top: 2.5rem; 		// 40px/16;
		padding-bottom: 2.5rem; // 40px/16;
		min-height: 8.75rem; 	// 140px/16 Important to set the same value for main#content->margin-top
	}


	// Align logo & menu elements to the top
	.navbar-brand {
		padding: 0 !important;
		#logo-mobile {
			display: block;
			width: 1.5625rem; //25/16
			height: 1.875rem; // 30px/16;
			@include media-breakpoint-up(md) {
				display: none;
			}			
		}
		#logo {
			display: none;
			margin-top: -0.9375rem;
			margin-bottom: -0.9375rem;
			@include media-breakpoint-up(md) {
				display: block;
				width: 6.875rem; // 110/16
				height: 4.5625rem; // 73/16
			}
		}
	}
	// Align logo & menu elements to the top
	.nav-link {
		padding-top: 0 !important; 
		padding-left: 0 !important;
		padding-right: 0 !important;
		line-height: 1;
	}	
	.navbar-nav {
		// Links on the main navigation
		li.nav-item {
			padding-left: 1rem;
			// Theme links
			a.nav-link {
				color: $black;
				// Font style
				@include meh-style-bold();
				text-transform: uppercase;
				text-decoration: none;
				// Font sizes
				font-size: $font-size-nav-links;							
				line-height: $line-height-nav-links;
				line-height: 1; 					
				letter-spacing: $letter-spacing-nav-links; 		
				// Large devices (desktops, 992px and up)
				@include media-breakpoint-up(lg) { 
					font-size: $font-size-nav-links-xl;							
					line-height: $line-height-nav-links-xl; 					
					line-height: 1; 					
				}
				&:hover {
					@include link-style-tachado();
				}
			}
			// Theme active link (current page)
			&.active {
				a.nav-link {
					@include link-style-tachado();
					&:hover {
					}
				}
			}
		}		
	}
}
