// 2. LAYOUTS
header {}

// 2.0. CONTENT
// Hybrid layout
// Set a max-width of 1440px to the fluid model, so on bigger screens 
// the container will be fixed
// Tricky hack to the grid for a $grid-gutter-width of 20px on Bootstrap4 
.container-fluid {
	max-width: $layout-max-width;
	padding-left: 1.25rem; // 20px; // See .post-preview-wrapper 
	padding-right: 1.25rem; // 20px; // See .post-preview-wrapper 
	// Animate the shit out of it
	transition: all 1s;

	@include media-breakpoint-up(md) {
		padding-left: 2.5rem; // 20px; // See .post-preview-wrapper 
		padding-right: 2.5rem; // 20px; // See .post-preview-wrapper 	
	}
}

main#content #homepage {
	margin-bottom: -1.375rem; // 22px
	@include media-breakpoint-up(lg) {
		margin-bottom: -2.5rem;
		padding-left: 1.875rem; // See .post-preview-wrapper 
		padding-right: 1.875rem; // See .post-preview-wrapper 
	}	
	header {
		padding: 0;
		margin-bottom: 3.75rem; // 60px;
		@include media-breakpoint-up(xl) {
			padding: 0 0.625rem;
		}
	}
}
// Preview styles
.post-preview {
	// Wrapper de cada projecte, per a una millor UX en els rollovers
	.post-preview-wrapper {
		@include media-breakpoint-up(xl) {
			padding: 0 0.625rem; 
		}
	}
}




// 2.2. FOOTER for all pages
footer {	
	// Set bg color
	background-color: $white;

  // Separate footer from the main content as on PDF
	margin-top: 2.375rem; // 36px
	margin-bottom: 3.4375rem; // 60-5px
	@include media-breakpoint-up(lg) {
		margin-top: 3.9rem; //66px to make 120px
		margin-bottom: 7.5rem; //120px
	}

	// Footer separator, remove bs4 defaults
	hr {
		// box-shadow: none;
		// background-color: $black;
		opacity: 1;
	}
	// The text-lines on the address are treated as line blocks, 100% width
	.info {
		font-size:   $font-size-default-md;
		line-height: $line-height-default-md;

		// Set font styles and sizes
		@include media-breakpoint-down(md) {
			font-size: $font-size-default-xs;
			line-height: $line-height-default-xs;	
			margin-bottom: 1.5625rem; // 30-5px;
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		span {
			display: block;
		}
	}
	// The © info is hidden 
	.copy {
		display: none;
	}
	// The social links theming	
	.links {
		margin-bottom: 0;
		li {
			padding-right: 1rem;
			@include media-breakpoint-up(sm) { 
				padding-right: 0;
				padding-left: 1rem;
			}
			a {
				text-transform: uppercase;
				text-decoration: none;
				@include meh-style-bold();
				// font-sizes
				font-size: $font-size-nav-links;							
				line-height: $line-height-nav-links; 					
				letter-spacing: $letter-spacing-nav-links; 		
				// Large devices (desktops, 992px and up)
				@include media-breakpoint-up(md) { 
					font-size: $font-size-nav-links-xl;							
					line-height: $line-height-nav-links-xl; 					
				}
				&:hover {
					@include link-style-tachado(33%);
				}
			}
		}
	}
}

