
// 2.1. MAIN NAVIGATION for all pages

main#content {
	margin-top: 90px; //80px
	@include media-breakpoint-up(md) { 
		margin-top: 118px; // Important to set the same value for .xxx
	}
	@include media-breakpoint-up(lg) { 
		margin-top: 178px; // Important to set the same value for .xxx
	}
}

.navbar {
	background: $white;
	// This values depend directly on the height of the logos for each breakpoint
	// No caldrà expressar-los en REM un cop estiguin definits (...?)
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 90px; // Important to set the same value for main#content->margin-top
	@include media-breakpoint-up(md) { 
		min-height: 118px; // Important to set the same value for main#content->margin-top
	}

	@include media-breakpoint-up(lg) { 
		padding-top: 60px;
		padding-bottom: 60px;
		min-height: 178px; // Important to set the same value for main#content->margin-top
	}


	// Align logo & menu elements to the top
	.navbar-brand {
		padding: 0 !important;
		#logo-mobile {
			display: block;
			width: 25px;
			height: 30px;
			@include media-breakpoint-up(md) {
				display: none;
			}			
		}
		#logo {
			display: none;
			margin-top: -15px;
			@include media-breakpoint-up(md) {
				display: block;
				width: 110px;
				height: 73px;
			}
		}
	}
	// Align logo & menu elements to the top
	.nav-link {
		padding-top: 0 !important; 
		padding-left: 0 !important;
		padding-right: 0 !important;
		line-height: 1;
	}	
	.navbar-nav {
		// Links on the main navigation
		li.nav-item {
			padding-left: 1rem;
			// Theme links
			a.nav-link {
				color: $black;
				// Font style
				@include meh-style-bold();
				text-transform: uppercase;
				text-decoration: none;
				// Font sizes
				font-size: $font-size-nav-links;							
				line-height: $line-height-nav-links;
				line-height: 1; 					
				letter-spacing: $letter-spacing-nav-links; 		
				// Large devices (desktops, 992px and up)
				@include media-breakpoint-up(md) { 
					font-size: $font-size-nav-links-xl;							
					line-height: $line-height-nav-links-xl; 					
					line-height: 1; 					
				}
				&:hover {
					@include link-style-tachado();
				}
			}
			// Theme active link (current page)
			&.active {
				a.nav-link {
					@include link-style-tachado();
					&:hover {
					}
				}
			}
		}		
	}
}
