/***
 * Styles for POSTS
 ***/

.posts {
  // Separate work grid
	margin-top: 1.25rem; // 20px
	@include media-breakpoint-up(sm) {
		margin-top: 2.5rem; // 40px
	}
}

// Preview styles
.post-preview {
	position: relative;
	margin-bottom: 1.25rem; // 20px

	transform: matrix(1, 0, 0, 1, 0, 0);
	// Wrapper de cada projecte, per a una millor UX en els rollovers
	.post-preview-wrapper {
		width: 100%;
		height: 100%;
		// Hover/Rollover styles
		&:hover {
			// Caixa amb la imatge o video
			.post-preview-media {
				background-color: $black;
				img, video {
					opacity: 0;
				}
			}
			// Caixa amb els metas del projecte
			// Es mostra al 100% d'alçada
			.post-preview-info {
				opacity: 1;
				height: 100%;

				// Animació dels textes
				transition-delay: 1s;
			  -webkit-transition: opacity 1s;
			  -moz-transition: opacity 1s;
			  -ms-transition: opacity 1s;
			  -o-transition: opacity 1s;
			  transition: opacity 1s;
			}			
			// Metas del projecte
			h2.post-preview-title, 
			h3.post-preview-subtitle, 
			.post-preview-tags {
			}
		}	
		// Normal styles
		// Caixa amb la imatge o video
		.post-preview-media {

			z-index: 2;
			transform-origin: center;
			// Img & Video showed by default so it hides the METAS that are under
			img, video  {
				width: 100%;
				// height: auto;
				// height: 100%;
				transform: matrix(1, 0, 0, 1, 0, 0);
				ms-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
				moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
				-o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
				-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
				transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);		
			}
		}
		// Caixa amb els metas del projecte
		// S'oculta amb 0% d'alçada
		.post-preview-info {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: right;

			padding: 0;
			margin: 0;

			padding-right: 3.125rem; // 50px;
			padding-left: 1.25rem; // 20px;


			overflow: hidden;
			height: 0;
			opacity: 1;
			z-index: 3;
			@include media-breakpoint-down(md) { 
				// top: 2rem;
				padding-right: 0;
				padding-left: 0.625rem; // 10px;
			}
		}
		// Meta: titol
		h2.post-preview-title {
			// display: none; 
			text-transform: none;
			
			font-size: 1.5rem; 	// 24px/16
			line-height: 1.875rem; 	// 30px/16
			margin-bottom: 0;
			margin-top: 3rem;
			@include media-breakpoint-down(md) { 
				margin-top: 2.5rem; // 40px;
				padding-right: 1.875rem; // 30px;
				font-size: 1.3125rem; 		// 21px/16
				line-height: 1.5rem;  // 24px/16
			}
			a {
				color: $white;
				text-decoration: none;
			}
		}
		// Meta: subtitol
		h3.post-preview-subtitle {
			// display: none; 
			color: $white;
			text-transform: none;
			
			font-size: 1.125rem; 	// 18px/16
			line-height: 1.875rem; 	// 30px/16
			margin-bottom: 0;
			@include media-breakpoint-down(md) { 
				padding-right: 1.875rem; // 30px;
				font-size: 0.875rem; 		// 14px/16
				line-height: 1.5rem; 	// 24px
			}
		}
		// Meta: tags
		.post-preview-tags {
			// display: none; 
			
			margin-top: 1.25rem;
			padding-left: 0.625rem; // 10px;
			@include media-breakpoint-down(md) { 
				margin-top: 0.3.125rem; // 5px;	
				padding-right: 1.875rem; // 30px;
			}
			span {
				color: $white;
				@include meh-style-regular();
				text-transform: uppercase;
				font-size: $font-size-default-xs;
				line-height: $line-height-default-xs;
				letter-spacing: $letter-spacing-nav-links;
				@include media-breakpoint-down(md) { 
					font-size: 0.5625rem; // 9px
					line-height: 0.875rem;
				}
			}
		}

	
	}
	// For video-posts, hide the video loop on mobile devices
	// and show the fallback image, instead
	&.post-preview-video {
		.post-preview-media {
			video {


				display: none;
				@include media-breakpoint-up(md) { 
					display: block;
				}
			}
			img {
				@include media-breakpoint-up(md) { 
					display: none;
				}
			}
		}
	}
}

// Full page
section.post-full {
 	// Header
 	header {
 		position: relative;
 		// La img i el video, ambdos
 		.header {
 			padding: 0;
 			margin-bottom: 0.625rem; // 10px;
 		}
 		// La img de fallback mobile/tablet per a projectes sense video
 		img {
 			width: 100%;
 			position: relative;
 			&.embed-thumbnail {
 				display: none;
	 			@include media-breakpoint-up(lg) { 
		 			display: block;
	 			} 				
 			}
 		}
 		.embed-responsive {
 			display: block;
			background-color: $black;
 			@include media-breakpoint-up(lg) { 
	 			display: none;
 			}
 		}
 		iframe {
 			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			z-index: 100;
 		}
 		// Text with the metas
 		.intro {			

 			margin-left: 0.625rem; // 10px
 			@include media-breakpoint-up(lg) { 
 				margin-left: 2rem; // 22px
 			}
 			@include media-breakpoint-up(xl) { 
 				margin-left: 3rem; // 22px
 			}

			opacity: 1; 			
			// transition-delay: .6s;
		 //  -webkit-transition: opacity .6s;
		 //  -moz-transition: opacity .6s;
		 //  -ms-transition: opacity .6s;
		 //  -o-transition: opacity .6s;
		 //  transition: opacity .6s;

 			&.intro-played {
 				opacity: 0;
	 			@include media-breakpoint-down(md) { 
	 				opacity: 1;
				}

 			}

 			@include media-breakpoint-up(lg) { 
	 			position: absolute;
	 			top: 2rem;
	 			left: 0;
	 			width: 100%
 			}
 		}

 		// Project Title
 		h1, h1 a {
 			font-size: 1.3125rem; // 21px/16
 			line-height: 1.5rem;	// 24px
			text-decoration: none;
			text-transform: none;
			margin-bottom: 0;
 			@include media-breakpoint-up(lg) { 
				color: $white;
				font-size: 2.25rem; // 36px
				line-height: 3rem;  // 48px
			}
		}
		// Project Subtitle
	 	h2.post-preview-subtitle  {
	 		margin-top: 0;
	 		margin-bottom: 1rem;
	 		text-transform: none;
	 		letter-spacing: 0;
	 		font-size: 0.875rem; // 14px 
	 		line-height: 1.5rem; // 24px
	 		margin-bottom: .75rem;
			@include media-breakpoint-up(lg) { 
				color: $white;
		 		font-size: 1.5rem; // 24px 
		 		line-height: 1.875rem; // 30px
		 		margin-bottom: 1.25rem;
			}
	 	}		
 		// Project headline
		p {

			margin-top: 1.875rem; // 30px;
			margin-bottom: 0.625rem; // 10px;

			@include meh-style-regular();
			font-size: 0.875rem; 	// 14px/16
			line-height: 1.5rem;  // 24px/16

 			@include media-breakpoint-up(xl) { 
				color: $white;
				font-size: 1.125rem; 		// 18px/16
				line-height: 1.875rem;  // 30px/16
				margin-bottom: 2.5rem;
			}
		}
 	}

 	// Projects with no video show a fallback image on mobile and tablet
 	// for a better design
 	&.post-full-no-video {
 		.header {
 			display: none;
 			@include media-breakpoint-up(lg) { 
	 			display: block;
 			}  			
 		}
	 	.header-fallback {
	 		display: block;
 			@include media-breakpoint-up(lg) { 
	 			display: none;
 			}  			
 		}
 	}
 	// Body
 	h2, .h2 {
 		margin-top: 2.5rem; // 40px;
 		margin-bottom: 1.25rem; // 20px;
 		text-transform: uppercase;
 		letter-spacing: $letter-spacing-1;
 		font-size: $font-size-default-xs;
 		line-height: $line-height-default-xs;
		@include media-breakpoint-up(lg) { 
			margin-top: 46px;
			margin-bottom: 1.25rem; // 20px;
			font-size: $font-size-default-md;
			line-height: $line-height-default-md;
		}
 	}
 	h3, .h3 { 
 		margin-top: 2.5rem; // 40px;
 		margin-bottom: 1.25rem; // 20px;
 		text-transform: uppercase;
 		letter-spacing: $letter-spacing-1;
 		font-size: $font-size-default-xs;
 		line-height: $line-height-default-xs;
		@include media-breakpoint-up(lg) { 
			margin-top: 46px;
			font-size: $font-size-default-md;
			line-height: $line-height-default-md;
		}
 	}


 	ul {
	  padding-left: 0;
	  list-style: none;
 	}

 	p, li {
 		@include meh-style-regular();
		font-size: 0.875rem; 	// 14px/16
		line-height: 1.5rem;  // 24px/16

		@include media-breakpoint-up(lg) { 
			font-size: 1.125rem; 		// 18px/16
			line-height: 1.875rem;  // 30px/16
		}
 	}
 	.content {
 		margin-top: 1.875rem; // 30px;
	  // Separate from .post header as on PDF
		@include media-breakpoint-up(md) {
			margin-top: 2.25rem; // 36px; // 60px
		}
		@include media-breakpoint-up(lg) {
			margin-top: 5.375rem; // 86px; //120px
		}
 		// p {
 		// 	@include media-breakpoint-up(lg) { 
	 	// 		width: 75%;
 		// 	}
 		// }

 		br {
 			line-height: 0.75rem; // 12px
 			font-size: 0.75rem; // 12px
 		}

 		ul {
 			margin-bottom: 0;
 		}

 	}

}


