// Colors

// Colors for layout
body {
	background-color: $white;
	color: $black;
}

#header {}

#main {}

#footer {}

// Colors for links
a {
	color: $black;
	text-decoration: underline;
	&:link {
		color: $black;
		text-decoration: underline;
	}
	&:visited {
		color: $black;
		text-decoration: none;
	}
	&:hover {
		color: $black;
		text-decoration: none;
	}
	&:active {
		color: $black;
		text-decoration: underline;
	}
}

a.btn {
	@include meh-style-semibold();
	text-transform: uppercase;
	text-decoration: none;			
	letter-spacing: $letter-spacing-1;
	border-width: 0.125rem; // 2px;

	padding: 1.5rem 3.25rem 1.25rem;
	font-size: $font-size-nav-links-xl;
	line-height: $font-size-nav-links-xl;
	border-radius: 0;

	// Project button
	border-color: $white;
	color: $white;
	&:hover {
		color: $black;
		background-color: $white;
		border-color: $white;
	}
}
